body {

	margin: 0;
	padding: 0;
	background: #FFFFFF;
	font-family: 'Abel', sans-serif;
	font-size: 18px;
	color: #5B5B5B;-webkit
	-touch
	-callout: none;-webkit
	-user
	-select: none;-khtml
	-user
	-select: none;-moz
	-user
	-select: none;-ms
	-user
	-select: none;
	user
	-select: none;
}
body h1 {
	font-weight: normal;
	font-family: 'Oswald', sans-serif;
	font-weight: 200;
	color: #222222;
	float: left;
}
body h2 {
	font-weight: normal;
	font-family: 'Oswald', sans-serif;
	font-weight: 200;
	color: #222222;
}
#hwrapper {
	background: url(img01.jpg) repeat;
}
header {

	margin: 0px auto !important;
	width: 1000px;
	height: 30%;
	background: url(img01.jpg) repeat;
}

h1 {
	font-size: 2em;
}

nav {

	margin: 0 auto;
	padding: 0;
	float: right;
}
nav ul {
	margin-top: 50;
	text-align: center list-style : none;
	display: block;
	width: 100%;
	padding: 0;
}

nav ul li {

	display: inline-block;
}
#img {
	margin: 0 auto !important;
	width: 1000px;
	height: 400px;
	padding: 0 0 40px 0;
}
#mainw {
	height: 60%;
	direction: ltr;
	margin: 0 auto !important;
	width: 1000px;
}
#main ul li {
	display: inline-block;
	list-style-type: none;
}
#img1 {
	float: left;
}
#img2 {
	float: left;
	margin: 0 0 0 20px;
}
#img3 {
	float: left;
	margin: 0 0 0 20px;
}
#img1 p {
	font-size: 0.8em;
}
#img2 p {
	font-size: 0.8em;
}
#img3 p {
	font-size: 0.8em;
}
#maind {
	display: block;
	direction: ltr;
	margin: 0 auto !important;
	width: 900px;
}
#left {
	float: left;
}
#left p {
	font-size: 1em;
}
#right {
	float: right;
}
footer {
	display: block;
	direction: ltr;
	margin: 0 auto !important;
	width: 900px;
	height: 40%;
	background: url(img05.jpg) repeat;
}
#d1 {
	float: left;
	color: white;
	list-style-type: none;
}
#d2 {
	float: left;
	color: white;
	list-style-type: none;
}

#d3 {
	float: left;
	color: white;
	list-style-type: none;
}
#behind {
	color: white;
	background: url(img05.jpg) repeat;
}
#d1 ul li a {
	color: white;
}
#d2 ul li a {
	color: white;
}
#d3 ul li a {
	color: white;
}
#d1 h2{
		color: white;

}
#d2 h2{
		color: white;

}
#d3 h2{
		color: white;

}
#d1 ul li {
	list-style-type:none;
}
#d2 ul {
	list-style-type:none;
}
#d3 ul li{
	list-style-type:none;
}
